<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
							<a href="#">
                            Admin Panel
							</a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
					&copy; 2017 <a href="http://tedxbitspilani.com">TEDxBITSPilani</a>, made with &#10084; by <a href="mailto:suvigyavijay@gmail.com">Suvigya Vijay</a>
                </p>
            </div>
        </footer>